.root {
    -fx-background-image: url(../files/fondos/pcpal.jpg) ;
    -fx-background-size: 850 730;
}

.juego{
    -fx-background-image: url(../files/fondos/juego.gif);
    -fx-background-size: 850 730;
}

